.mud-snackbar-location-top-right {
  top: 64px !important;
}

.mud-table-cell-custom-group {
  font-weight: 500;
}

.mud-table-cell-custom-group-footer {
  padding-bottom: 50px;
  text-align: right;
}